# pip install -r reuirements.txt
# conda create -p venv python==3.10
# conda activate venv/

pip install pandas
pip install numpy
pip install ydata-profiling
pip install missingno
pip install scikit-learn
pip install imblearn
